.navbar {
  background-color: black;
  width: 100%;
}

.navbar-toggler {
  border-color: #FFFFFF;
}

.nav-link {
  cursor: pointer;
  font-weight: bold;
  color: #FFFFFF;
}

.navbar-brand {
  cursor: pointer;
}
